@model IEnumerable<Story>
@using HackerNewsAPI.Models;

@{
    ViewBag.Title = "Home Page";
}

@foreach (var story in Model)
{
    <h3>
        @story.Author
    </h3>
    <h3>
        @story.Title
    </h3>
    <h3>
        @story.URL
    </h3>
}